.topbox td {
	border: 1px solid #000;
	padding-right: 8px;
}

.tablediv .scrollableFixedHeaderTable tr td .outer {
	display: block;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	height: 20px;
	line-height: 20px;
	text-align: left;
}

.tablediv .sfhtData .scrollableFixedHeaderTable tr td .outer {
	overflow: hidden;
}

.outer .student_assessor,
.outer .mark {
	width: 50%;
	display: block;
	float: left;
}

.outer .student_assessor {
	padding: 0px;
	margin: 0px;
	text-align: right;
}

.selection,
.tablediv .scrollableFixedHeaderTable tr td.selection {
	background-color: lightblue;
}

.deselection,
.tablediv .scrollableFixedHeaderTable tr td.deselection {
	background-color: yellow;
}
