.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node rect {
  fill-opacity: 1;
  fill: white;
}

.node text {
  font-size: 12px;
}

path.link {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

#visualization_index {
	margin-top: 10px;
	font-size: 14px;
}

#visualization {
	border: 1px solid darkblue;
	margin-top: 5px;
}

