.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node rect {
  fill-opacity: 1;
  fill: #DFD6AE;
  stroke: #274245;
}

.node text {
  font-size: 12px;
  fill: black;
  stroke: black;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#visualization {
	border: 1px solid darkblue;
	margin-top: 10px;
}

