p.pnaInstruction{
	border:2px red solid; 
	font-size:12px; 
	margin:10px 0; 
	padding:10px; 
	width:576px;
}

ul.pnaNativeAuthors{
	margin:10px 0;
	padding:0;
	list-style-type:none;
	width: 596px;
	border: 2px solid #999;
	font-size: 14px;
}
ul.pnaNativeAuthors li{
	margin:0;
	padding:2px;
}
ul.pnaNativeAuthors li.pnaHdrRow{
	background: #cdd6e9;
	font-size: 1.1em;
}
ul.pnaNativeAuthors li.pnaHdrRow strong{ 
	margin-left:15px;
}
ul.pnaNativeAuthors li.pnaHighlight{
	background: #e7eff7;
}

p#importWarning {
	border:2px red solid; 
	font-size:12px; 
	margin:10px 0; 
	padding:10px; 
	width:576px;
}