.ui-tabs{
  overflow:hidden;
  clear:both;
 
}
.ui-tabs ul{
  list-style-type:none;
  bottom: -1px;
  position:relative;
}
.ui-tabs li{
  float:left;
}
 
.ui-tabs a{
  display:block;
  padding:5px 10px;
  background-color: #EEE;
  color: #000;
  text-decoration: none;
  margin: 0 4px;
  border-top:1px solid #CCC;
  border-left:1px solid #DDD;
  border-right:1px solid #DDD;
  font:13px/18px verdana,arial,sans-serif;
  border-bottom:1px solid #CCC;
}

.ui-tabs-active {
	border: 1px solid black;
}

.ui-tabs a.active{
  background-color: #fff;
  border-bottom:1px solid #fff;
}
.ui-tabs div{
  clear: both;
  border:1px solid #CCC;
  padding:5px;
  font-family:verdana;
  font-size:13px;
  background-color: #fff;
  display:none;
}