.tableFirstCol {
	padding: 5px 15px 3px 3px;
	border-bottom: 1px solid #99CCCC;
}

div.tableHeader {
	padding: 5px 0 3px 0;
	width: 40px;
	text-align: center;
	vertical-align: center;
	border-bottom: 1px solid #99CCCC;
}

.cell-cb {
	padding: 5px 0 3px 0;
	width: 40px;
	text-align: center;
	border-bottom: 1px solid #99CCCC;
}

.sm-qmark {
	font-size:50%;
	padding:0;
	cursor:pointer;
}

.weight {
	text-align: right;
}

.totalValue {
	text-align: right;
	background-color: #CDD6E9;
	font-weight: bold;
	border: 0px;
}

.colorBox { 
	border:1px solid #000000; 
	background-color:#ff9900;
	display:block;
}

.selected-radio {
	background-color:green;
	padding:2px;
	margin-right:5px;
	color:#ffffff;
	font-weight: bold;	
}


label.field-error {  
	display: none; 
}

.field-error {
	color: red;
	background:5px 50% no-repeat url('/icons/reddot.gif');
	font-family: Helvetica, sans-serif; 
	font-style: italic;
	padding: 1px 3px 1px 20px;
	margin: 0;
	font-weight: bold;	
	font-size: 12pt;
}

.target {
	text-align: right;
}

.level-title {
	font-family: Verdana, Arial; 
	font-weight: bold;
}

#error-container {
	background-color: #eee;
	color: red;
	border: 1px solid red;
	margin: 10px;
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12pt;
	width: 70%;
	font-weight: bold;
}


#ok-container {
	background-color: #eee;
	color: black;
	border: 1px solid green;
	margin: 10px;
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12pt;
	width: 70%;
	font-weight: bold;
}

