#fullContentTable nav {
	margin-top: 10px;
	overflow: hidden;
	padding: 5px 10px;
}
#fullContentTable nav .filter {
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 0px 10px;
}
#fullContentTable .audit nav .filter {
	width: 22%;
}
#fullContentTable nav .processing label,
#fullContentTable nav .active label {
	display: block;
	margin-bottom: 0.5em;
	font-weight: bold;
}
#fullContentTable nav select {
	height: 20em;
	min-width: 250px;
}
#fullContentTable .audit nav select {
	height: 10em;
	min-width: 200px;
}
#fullContentTable nav select,
#fullContentTable nav option {
	font-size: 11px;
}
#fullContentTable nav select[disabled=disabled] option {
	color: #999;
}
#fullContentTable nav label,
#fullContentTable nav select,
#fullContentTable nav input,
#fullContentTable nav fieldset,
#fullContentTable nav .waiting {
	display: none;
}
#fullContentTable nav .processing .waiting {
	margin: 20px auto;
	display: block;
}
#fullContentTable nav .active .waiting {
	display: none;
}
#fullContentTable nav .active input,
#fullContentTable nav .active select {
	display: inline;
}
#fullContentTable nav .active fieldset {
	display: block;
	margin: 0.5em auto;
}
#fullContentTable nav div div {
	text-align: left;
	padding: 0.25em 10%;
}
#fullContentTable nav div.active div label {
	display: inline;
	border: none;
	font-weight: normal;
}
#fullContentTable nav div.active div input {
	display: inline;
	margin-right: 10px;
}
#fullContentTable fieldset {
	border: none;
	padding: 0px;
	margin: 0px;
}
#fullContentTable #main {
	width: 80%;
	margin: 0 auto;
	display: none;
}
.timestamp p,
.trail {
	font-size: 10px;
	font-style: italic;
	text-align: right;
}
#main.active {
	display: block;
}
table.data {
	margin: 0 auto;
	margin-bottom: 30px;
}
#fullContentTable div.tab {
	display: none; 
}
#fullContentTable div.tab.current {
	display: block;
}
