#fullContentTable nav {
	margin-top: 10px;
	overflow: hidden;
	padding: 5px 10px;
}
#fullContentTable nav .filter,
#fullContentTable nav .getgradedata {
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 0px 10px;
}
#fullContentTable nav .processing label,
#fullContentTable nav .active label {
	display: block;
	margin-bottom: 0.5em;
	font-weight: bold;
}
#fullContentTable nav select {
	height: 20em;
	min-width: 250px;
}
#fullContentTable .audit nav select {
	height: 10em;
	min-width: 200px;
}
#fullContentTable nav select,
#fullContentTable nav option {
	font-size: 11px;
}
#fullContentTable nav select[disabled=disabled] option {
	color: #999;
}
#fullContentTable nav label,
#fullContentTable nav select,
#fullContentTable nav input,
#fullContentTable nav fieldset,
#fullContentTable nav .waiting {
	display: none;
}
#fullContentTable .data.processing .waiting,
#fullContentTable nav .processing .waiting {
	margin: 20px auto;
	display: block;
}
#fullContentTable .data.processing table,
#fullContentTable .data .waiting,
#fullContentTable nav .active .waiting {
	display: none;
}
#fullContentTable nav .active input,
#fullContentTable nav .active select {
	display: inline;
}
#fullContentTable nav .active fieldset {
	display: block;
	margin: 0.5em auto;
}
#fullContentTable nav div div {
	text-align: left;
	padding: 0.25em 10%;
}
#fullContentTable nav div.active div label {
	display: inline;
	border: none;
	font-weight: normal;
}
#fullContentTable nav div.active div input {
	display: inline;
	margin-right: 10px;
}
#fullContentTable fieldset {
	border: none;
	padding: 0px;
	margin: 0px;
}
#fullContentTable #main {
	width: 80%;
	margin: 0 auto;
	display: none;
}
.timestamp p,
.trail {
	font-size: 10px;
	font-style: italic;
	text-align: right;
}
#main.active {
	display: block;
}
.data table {
	margin: 0 auto;
	margin-bottom: 30px;
	border-collapse: collapse;
}
.data table td {
	border: 1px solid #cdd6e9;
}
.data table.audit td {
	border: none;
	border-bottom: 1px solid #cdd6e9;
}
.cellpad {
	padding: 0 1.5em 0 .25em;
}
table.audit {
	margin: 0;
}
#fullContentTable div.tab {
	display: none; 
}
#fullContentTable div.tab.current {
	display: block;
}
#fullContentTable h1 {
	border-bottom: 1px solid #CDD6E9;
	font-size: 16px;
	margin: 1em 0 0.5em 0;
}
#fullContentTable h2 {
	font-size: 14px;
	margin: 1em 0 0.5em 0;
}
