#fullContentTable nav {
	margin: 10px auto;
	overflow: hidden;
	padding: 5px 10px;
	width: 80%;
}
#fullContentTable nav .filter {
	float: left;
	width: 22%;
	text-align: center;
	overflow: hidden;
	margin: 0px 10px;
}
#fullContentTable nav .active label {
	display: block;
	margin-bottom: 0.5em;
	font-weight: bold;
}
#fullContentTable nav select {
	height: 10em;
	min-width: 200px;
}
#fullContentTable nav option {
	font-size: 11px;
}
#fullContentTable nav label,
#fullContentTable nav select,
#fullContentTable nav input,
#fullContentTable nav fieldset {
	display: none;
}
#fullContentTable nav .active input,
#fullContentTable nav .active select {
	display: inline;
}
#fullContentTable nav .active fieldset {
	display: block;
	margin: 0.5em auto;
}
#fullContentTable nav div div {
	text-align: left;
	padding: 0.25em 10%;
}
#fullContentTable nav div.active div label {
	display: inline;
	border: none;
	font-weight: normal;
}
#fullContentTable nav div.active div input {
	display: inline;
	margin-right: 10px;
}
#fullContentTable fieldset {
	border: none;
	padding: 0px;
	margin: 0px;
}
#fullContentTable #main {
	width: 80%;
	margin: 0 auto;
	display: none;
}
.timestamp p,
.trail {
	font-size: 10px;
	font-style: italic;
	text-align: right;
}
#main.active {
	display: block;
}

table.report {
	border-collapse: collapse;
}
table.report th, table.report td {
	font-size: 0.95em;
	border: 1px solid #ccc;
	text-align: left;
	padding: 4px;
	font-size: 1em;
}
#fullContentTable div.tab {
	display: none; 
}
#fullContentTable div.tab.current {
	display: block;
}
