.bargraph {
	display:;
}

.graphTable {
	font-size:11px;
	font-family:sans-serif;
	table-layout: fixed;
}

.graphTD {
	overflow: visible;
	width: 25%;
	background: top right repeat-y url('/graphics/eval_border.png');
}

.graphTDStart {
	background: top right repeat-y url('/graphics/eval_border.png');
}

.barGraphStart {
	height: 15px;
	padding-right:10px;
	text-align: right;
}

.barGraphBar, .positiveYesNoBar, .negativeYesNoBar, .medianYesNoBar, .evalStacked1, .evalStacked2, .evalStacked3, .evalStacked4, .evalStacked5 {
	border-right: 0px solid blue;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 10px;
}

.barGraphBar {
	background-color: #9999FF;
	border-right: 1px solid #9999FF;
}

.positiveYesNoBar {
	background-color: #99FF99;
	border-right: 1px solid #99FF99;
}

.negativeYesNoBar {
	background-color: #FF9999;
	border-right: 1px solid #FF9999;
}

.medianYesNoBar {
	background-color: #999999;
	border-right: 1px solid #999999;
}

.evalStacked1 {
	background-color: #FF3333;
	border-right: 1px solid #FF3333;
}

.evalStacked2 {
	background-color: #FF9933;
	border-right: 1px solid #FF9933;
}

.evalStacked3 {
	background-color: #FFFF66;
	border-right: 1px solid #FFFF66;
}

.evalStacked4 {
	background-color: #6666FF;
	border-right: 1px solid #6666FF;
}

.evalStacked5 {
	background-color: #66FF66;
	border-right: 1px solid #66FF66;
}

.graphSummaryNumber {
	margin-left:10px;
	text-align:right;
	padding-left:10px;
}

.tableTitleSpan {
	float:left;
	padding-top:13px;
	padding-right:10px;
}

.tableContainerSpan {
	float: right;
}
