body#home {
	min-width: 1000px;
	background: -ms-linear-gradient(top, #abc4de 0%, #abc4de 25%, #f7f9fc 65%, #f7f9fc 100%);
	background: -moz-linear-gradient(top, #abc4de 0%, #abc4de 25%, #f7f9fc 65%, #f7f9fc 100%);
	background: -o-linear-gradient(top, #abc4de 0%, #abc4de 25%, #f7f9fc 65%, #f7f9fc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #abc4de), color-stop(0.25, #abc4de), color-stop(0.65, #f7f9fc), color-stop(1, #f7f9fc));
	background: -webkit-linear-gradient(top, #abc4de 0%, #abc4de 25%, #f7f9fc 65%, #f7f9fc 100%);
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#abc4de', endcolorstr='#f7f9fc');
}

body#home header div.container {
	width: 960px;
}

body#home div#gBody {
	width: 1000px;
}

/* begin left-hand navigation */
#gLeftNav.home {
	float: left;
	width: 206px;
	padding: 9px 9px 0px 0px;
	margin: 0px;
	font: 12px Verdana,Arial,sans-serif;
	background-color: transparent;
	background-image: none;
	min-height: 312px;
}

table.coursetab #gLeftNav.home {
	padding-bottom: 30px;
	padding-right: 0px;
}

#gLeftNav.home nav {
	width: 186px;
	margin-left: 9px;
	margin-bottom: 9px;
	background-color: #fff;
	border: 1px solid #adacac;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	padding-bottom: 10px;
}

#gLeftNav.home .communications .scrollcontainer {
	max-height: 130px;
}

#gLeftNav.home .materials .scrollcontainer {
	max-height: 476px;
}

#gLeftNav.home .materials.tall .scrollcontainer {
	max-height: 390px;
}

#gLeftNav.home .materials .materiallinks {
	display: none;
}

#gLeftNav.home nav h1 {
	background: #e7e9ec;
	font: 12px arial, san-serif; 
	color: #4b4b4b;
	line-height: 12px;
	padding: 9px 0px 0px 13px;
	margin: 0px 0px 10px 0px;
	height: 20px;
	border-top-right-radius: 9px;
	-moz-border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	-moz-border-top-left-radius: 9px;
}

#gLeftNav nav ul {
	padding: 2px 0px 5px 0px;
	margin: 0px;
}

#gLeftNav nav ul ul {
	padding-right: 0px;
}

#gLeftNav nav li {
	padding: 0px 13px;
	margin: 0px 0px 2px 0px;
	font: 12px arial, sans-serif;
	color: #000;
	list-style-type: none;
}

#gLeftNav.home nav li a.viewcourseleftnav:link,
#gLeftNav.home nav li a.viewcourseleftnav:visited,
#gLeftNav.home nav li a.viewcourseleftnav:hover,
#gLeftNav.home nav li a.viewcourseleftnav:active,
#gLeftNav.home nav li li a:link,
#gLeftNav.home nav li li a:visited,
#gLeftNav.home nav li li a:hover,
#gLeftNav.home nav li li a:active {
	font: 12px arial, sans-serif;
	color: #345f90;
}

#gLeftNav.home nav li a.viewcourseleftnavEmpty:link,
#gLeftNav.home nav li a.viewcourseleftnavEmpty:visited,
#gLeftNav.home nav li a.viewcourseleftnavEmpty:hover,
#gLeftNav.home nav li a.viewcourseleftnavEmpty:active {
	font: 12px arial, sans-serif;
	color: #999;
}

#gLeftNav nav li.selected {
	background: #fff url("/graphics/case/sidebarArrow.gif") no-repeat 4px 2px;
	margin-left: 0px;
}

#gLeftNav.home nav li a:link,
#gLeftNav.home nav li a:visited,
#gLeftNav.home nav li a:hover,
#gLeftNav.home nav li a:active {
	color: #000;
}

#gLeftNav .rollover {
	display: none;
	position: absolute;
	margin-left: 80px;
	margin-top: -13px;
	width: 200px;
	background-color: #d7e3ef;
	border: 1px solid #7e9dbe;
	padding: 10px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#gLeftNav .rollcontainer:hover .rollover {
	display: block;
}

#gLeftNav .rollover p {
	padding: 0px;
	margin: 0px;
}
/* end left-hand navigation */

/* begin homepage main content area */
body#home div#gContent {
	float: left;
	display: block;
	margin: 11px 0px 0px 0px;
	padding: 0px 10px 15px 0px;
	width: 760px;
	overflow: hidden;
}

body#home #gContent nav.toptabs ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	height: 38px;
}

body#home #gContent nav.toptabs li {
	float: left;
	margin: 0 7px 0 0;
	padding: 10px 15px 0px 15px;
	height: 27px;
	font: 17px Georgia, serif;
	line-height: 17px;
	background: #687e95;
	list-style-type: none;
	border: 1px solid #7596bb;
	border-bottom: none;
	border-top-right-radius: 12px;
	-moz-border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	-moz-border-top-left-radius: 12px;	
}

body#home #gContent nav.toptabs li a {
	color: #fff;
}
	
body#home #gContent nav.toptabs li.current { background: #ecf2f9; }

body#home #gContent nav.toptabs li.current a {
	color: #303030;
	cursor: default;
}

body#home #gContent nav li a:hover {
	text-decoration: none;
}

body#home #gContent .toptab {
	clear: both;
	display: none;
	margin-top: -1px;
	border: 1px solid #7596bb;
	border-top-right-radius: 12px;
	-moz-border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	-moz-border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	-moz-border-bottom-left-radius: 12px;	
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	width: 724px;
}

body#home #gContent div.current {
	font: 12px Arial, sans-serif;
	line-height: 15px;
	display: block;
	overflow: hidden;
	padding: 0px 0px 0px 9px;
	background: #ecf2f9 url('/graphics/bg-tabs-bottom.png') no-repeat 9px bottom;
	min-height: 300px;
}

body#home #gContent .current a:link,
body#home #gContent .current a:visited,
body#home #gContent .current a:hover,
body#home #gContent .current a:active {
	color: #345f90;
}

body#home #gContent div.full {
	background: #ecf2f9 url('/graphics/bg-tabs-bottom-full.png') no-repeat 9px bottom;
}

body#home #gContent .current .tabinner {
	background: url('/graphics/bg-tabs.png') repeat-y top left;
	overflow: hidden;
	min-height: 466px;
}

body#home #gContent.withtrafficlight .current .tabinner,
body#home #gContent.withnote .current .tabinner {
	min-height: 382px;
}

body#home #gContent.withnote.withtrafficlight .current .tabinner {
	min-height: 285px;
}

body#home #gContent .bottom {
	height: 22px;
	text-align: left;
	font: 9px arial, sans-serif;
	text-transform: uppercase;
	padding: 11px 15px;
	overflow: hidden;
}

body#home #gContent .bottom a {
	display: block;
	float: left;
	text-align: right;
}

body#home #gContent .bottom a:link,
body#home #gContent .bottom a:visited,
body#home #gContent .bottom a:hover,
body#home #gContent .bottom a:active {
	color: #4B4B4B;
}

body#home #gContent .bottom .courses {
	width: 300px;
}

body#home #gContent .bottom .calendar {
	width: 190px;
}

body#home #gContent .full .tabinner {
	background: url('/graphics/bg-tabs-full.png') repeat-y top left;
}

body#home #gContent .full .bottom .courses {
	width: 495px;
}

body#home #gContent .current p,
body#home #gContent .current li {
	margin-bottom: 3px;
}

body#home #gContent .tabgroup {
	float: left;
}

body#home #gContent .tabgroup nav {
	display: table;
	vertical-align: top;
	border-spacing: 0px;
	background: #ecf2f9;
	padding: 11px 3px 0px 0px;
}

body#home #gContent .courses nav {
	width: 324px;
}

body#home #gContent .full nav {
	width: 523px;
}

body#home #gContent .tabgroup nav ul {
	display: table-row;
	padding-left: 0px;
}

body#home #gContent .tabgroup nav li,
body#home #gContent .links h1,
body#home #gContent .courses nav.single li.current {
	display: table-cell;
	vertical-align: top;
	padding: 7px 8px;
	font: 12px Arial, sans-serif;
	line-height: 12px;
	white-space: nowrap;
	background: #cfd4d9;
	border-top: 1px solid #adacac;
	border-bottom: 1px solid #adacac;
	color: #4b4b4b;
}

body#home #gContent nav.tabs li:first-child,
body#home #gContent .links h1 {
	border-left: 1px solid #adacac;
	border-top-left-radius: 11px;
	-moz-border-top-left-radius: 11px;
}

body#home #gContent nav.tabs li:last-child,
body#home #gContent .links h1 {
	border-right: 1px solid #adacac;
	border-top-right-radius: 11px;
	-moz-border-top-right-radius: 11px;
	box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
	width: 100%;
	z-index: 1;
}

body#home #gContent .links h1 {
	width: 166px;
}

body#home #gContent nav.tabs li.current {
	border-left: 1px solid #adacac;
	border-right: 1px solid #adacac;
	padding-right: 7px;
	padding-left: 7px;
	background-color: #fff;
	border-bottom: none;
}

body#home #gContent nav.tabs li.current:first-child {
	padding-left: 8px;
}

body#home #gContent .links h1,
body#home #gContent .courses nav.single li.current {
	border-bottom: none;
}

body#home #gContent .tabcontainer {
	z-index: 2;
	background: #fff;
	margin-left: 1px;
	margin-right: 4px;
	padding: 12px 10px;
}

body#home #gContent .calendar .tabcontainer {
	padding: 0px;
}

body#home #gContent .calendar .scrollcontainer {
	min-height: 351px;
	max-height: 517px;
}

body#home #gContent .links .tabcontainer,
body#home #gContent .content .tabcontainer {
	margin-right: 2px;
	width: 168px;
	padding: 12px 0px 12px 10px;
}

body#home #gContent .links .scrollcontainer,
body#home #gContent .content .scrollcontainer {
	width: 158px;
}

body#home #gContent .links .tabcontainer {
	padding-bottom: 20px;
}

body#home #gContent .content .tabcontainer {
	padding-bottom: 0px;
}

body#home #gContent .links form {
	margin-top: 1px;
	margin-bottom: 7px;
}

body#home #gContent .links .scrollcontainer {
	padding-right: 10px;
	min-height: 85px;
	max-height: 152px;
}

body#home #gContent .content .scrollcontainer {
	padding-right: 10px;
	min-height: 139px;
	max-height: 259px;
}

body#home #gContent.withnote .links .scrollcontainer,
body#home #gContent.withtrafficlight .links .scrollcontainer {
	min-height: 57px;
	max-height: 167px;
}

body#home #gContent.withnote .content .scrollcontainer, 
body#home #gContent.withtrafficlight .content .scrollcontainer {
	min-height: 88px;
	max-height: 150px;
}

body#home #gContent.withnote .calendar .scrollcontainer,
body#home #gContent.withtrafficlight .calendar .scrollcontainer {
	max-height: 433px;
}

body#home #gContent.withnote.withtrafficlight .calendar .scrollcontainer {
	max-height: 365px;
}

body#home #gContent.withnote.withtrafficlight .links .scrollcontainer {
	min-height: 83px;
	max-height: 83px;
}

body#home #gContent.withnote.withtrafficlight .content .scrollcontainer {
	min-height: 150px;
	max-height: 150px;
}

body#home #gContent section.tab {
	display: none;
}

body#home #gContent section.current,
body#home #gContent .links section {
	display: table-cell;
	vertical-align: top;
}

body#home #gContent .courses {
	width: 327px;
}

body#home #gContent .courses .scrollcontainer {
	width: 302px;
	padding-right: 10px;
	min-height: 351px;
	max-height: 517px;
}

body#home #gContent .full .courses .scrollcontainer {
	width: 501px;
}

body#home #gContent.withnote .courses .scrollcontainer,
body#home #gContent.withtrafficlight .courses .scrollcontainer {
	max-height: 433px;
}

body#home #gContent.withnote.withtrafficlight .courses .scrollcontainer {
	max-height: 365px;
}

body#home #gContent .tabcontainer ul {
	padding-left: 0px;
	margin: 3px 0px 12px 0px;
}

body#home #gContent .tabcontainer ul ul {
	padding-left: 13px;
}

body#home #gContent .tabcontainer li {
	list-style-type: none;
	line-height: 14px;
}

body#home #gContent .full .courses  {
	width: 526px;
	margin-right: 8px;
}

body#home #gContent .calendar {
	width: 191px;
}

body#home #gContent .tabcontainer h2, 
body#home #gContent .calendar time {
	color: #595959;	
}

body#home #gContent .calendar .mandatory {
	padding-left: 3px;
	color: red;
	font-weight: bold;
}

body#home #gContent .personal {
	width: 185px;
}

body#home #gContent .links hgroup {
	padding-right: 3px;
	padding-top: 11px;
}

body#home #gContent .links hgroup,
body#home #gContent .content nav {
	width: 180px;
	background: #ecf2f9;
}

body#home #gContent .content nav {
	padding-top: 0px;
}

body#home #gContent .calendar {
	padding: 0px 8px;
}

body#home #gContent .calendar nav {
	width: 188px;
}

body#home #gContent .calendar .tabs li,
body#home #gContent .calendar nav.single li.current {
	background: #d4ddcb;
}

body#home #gContent .calendar .tabs li.current {
	background: #fafff5;
}

body#home #gContent .calendar a:link,
body#home #gContent .calendar a:visited,
body#home #gContent .calendar a:hover,
body#home #gContent .calendar a:active {
	color: #00582c;
}

body#home #gContent .tabs li.current a:link,
body#home #gContent .tabs li.current a:visited,
body#home #gContent .tabs li.current a:hover,
body#home #gContent .tabs li.current a:active {
	color: #4b4b4b;
}
/* ---- */
body#home #gContent .calendar .tab {
	padding: 0px;
	width: 191px;
}

body#home #gContent .calendar article {
	padding: 14px 9px;
}

body#home #gContent .calendar article.todo {
	padding: 9px;
}

body#home #gContent .calendar article h1 {
	font: 14px Arial, sans-serif;
	font-weight: normal;
	margin: 2px 0px;
	padding: 0px;
}

body#home #gContent .calendar article.todo h1 {
	font: 12px Arial, sans-serif;
	font-weight: normal;
}

body#home #gContent .calendar time {
	font-weight: bold;
}

body#home #gContent .calendar .todo time {
	font-weight: normal;
}

body#home #gContent .calendar article p {
	font-size: 11px;
	line-height: 12px;
	padding: 0px;
	margin: 0px;
}

body#home #gContent .calendar article:nth-child(odd) {
  background-color: #f2ffe4;
}

body#home #gContent .calendar article:nth-child(even) {
  background-color: #fafff5;
}

body#home #gContent .links {
	padding-bottom: 13px;
	background: url('/graphics/bg-tabs-links.png') no-repeat left bottom;
	padding-right: 5px;
}

body#home #gContent .links h2 {
	font: 12px arial, sans-serif;
	font-weight: bold;
	color: #595959;
	margin: 0px;
}

body#home #gContent .links li h2 {
	display: inline;
}

body#home #gContent .links .linklist {
	width: 105px;
	font: 11px arial, sans-serif;
    line-height: normal;
	vertical-align: baseline;
	margin: 0px;
	padding: 0px;
}

body#home #gContent .links input {
	font: 9px arial, sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: normal;
	vertical-align: baseline;
	width: 53px;
}

body#home .links li h2 {
	display: inline;
	font-size: inherit;
}


body#home div#gMainContent {
float:none;
width:auto;
}
/* end homepage main content area */

/* begin nested link lists */
ul img.more {
	width: 11px;
	height: 9px;
	cursor: pointer;
	padding-left: 3px;
}
/* ---- */

ul li.closed img.more {
	vertical-align: -4%;
	margin-left: 2px;
}

ul li.closed ul {
	display: none;
}

/* end nested link lists */

/* begin notification box */
.notifications,
body#home #gTrafficLight {
	border-width: 0px;
	border-radius: 11px;
	-moz-border-radius: 11px;
	/*height: 56px;*/
	width: 622px;
	padding: 9px 35px 9px 77px;
	margin: 0px 0px 10px 0px;
	box-shadow:inset 0 0 10px #f8d97a;
	-moz-box-shadow:inset 0 0 10px #f8d97a;
}

.notifications {
	background: #fff2b7 url('/graphics/icon-home-alert.png') no-repeat 11px 11px;
}

.notifications p,
.notifications ul {
	margin-top: 0px;
}

.notifications p:last-child {
	margin-bottom: 0px;
}

body#home #gTrafficLight {
	background-position: 16px 10px;
	background-repeat: no-repeat;
	float: left;
	margin-bottom: 0px;
}

body#home #gTrafficLight.gLighthint {
	background-color: #fff2b7;
	background-image: url('/graphics/yellow.gif');
}

body#home #gTrafficLight.gLighterror {
	background-color: #ffa1a1;
	background-image: url('/graphics/red.gif');
	box-shadow:inset 0 0 10px #f87a7a;
	-moz-box-shadow:inset 0 0 10px #f87a7a;
}

body#home #gTrafficLight.gLightmsg,
body#home #gTrafficLight.gLightsuccess {
	background-color: #f2ffe4;
	background-image: url('/graphics/green.gif');
	box-shadow:inset 0 0 10px #c7e3a8;
	-moz-box-shadow:inset 0 0 10px #c7e3a8;
}

.materials_button{
	vertical-align: -9%;
}

.notifications .scrollcontainer {
	height: 56px;
        resize: vertical;
}

.notifications h1 {
	font: 12px Arial, sans-serif;
	color: #000;
	font-weight: bold;
	line-height: 16px;
}

.notifications article {
	margin-bottom: 6px;
}

.notifications article,
body#home #gTrafficLight {
	font: 12px Arial, sans-serif;
	color: #000;
	line-height: 16px;
}

body#home #gTrafficLight {
	padding-top: 15px;
	height: 50px;
}

.notifications a:link,
.notifications a:visited,
.notifications a:hover,
.notifications a:active {
	color: #345f90;
	font-weight: bold;
}

.notifications .close {
	position: absolute;
	margin-left: 630px;
	cursor: pointer;
}
/* end notification box */

/* begin footer */
body#home footer {
	margin-top: -30px;
}

body#home footer div.container {
	width: 802px;
}

body#home .mobile {
	padding-right: 10px;
}
/* end footer */

/* begin dialog box */
.ui-dialog {
	border-width: 0px;
	border-radius: 11px;
	-moz-border-radius: 11px;
	box-shadow:inset 0 0 10px #f8d97a;
	-moz-box-shadow:inset 0 0 10px #f8d97a;
	background: #fff2b7;
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	min-width: 550px;
}

.ui-dialog hr {
	color: #fb9532;
	border: none;
	border-top: 1px solid #fb9532;
	margin-top: 25px;
}

.ui-dialog-titlebar {
	padding: 8px 15px;
	background: #f8d97a; 
	border-top-right-radius: 11px;
	-moz-border-top-right-radius: 11px;
	border-top-left-radius: 11px;
	-moz-border-top-left-radius: 11px;
}

.ui-dialog-content {
	padding: 0px 15px 15px 15px;
	font: 11px Verdana, Arial, sans-serif;
}

.ui-dialog h2 {
	font: 12px Arial, sans-serif;
	color: #595959;
	font-weight: bold;
	margin: 10px 0px 5px 0px;
}

.ui-dialog label,
.ui-dialog .spacer {
	padding-right: 7px;
	padding-left: 4px;
}

.ui-dialog-content table {
	border-collapse: collapse;
	width: 100%;
}

.ui-dialog-content table th {
	text-align: left;
	background-color: #f8d97a;
	font-weight: bold;
	padding: 3px 6px;
	border-color: #fff2b7;
}

.ui-dialog-content select,
.ui-dialog-content input {
	font: 11px Verdana, Arial, sans-serif;
}

.ui-dialog-content input[type=text] {
	width: 175px;
}

.ui-dialog-content table input[type=text] {
	width: 220px;
}

.ui-dialog-content th,
.ui-dialog-content td {
	font: 11px Verdana, Arial, sans-serif;
	border: 1px solid #f8d97a;
	padding: 3px 2px;
}

.ui-dialog-titlebar-close {
	display: block;
	float: right;
	text-indent: -9999px;
	background: transparent url('/graphics/icon-home-close.png') no-repeat;
	height: 18px;
	width:  18px;
	white-space: nowrap;
	cursor: pointer;
	border: none;
}

.ui-dialog .buttons {
	text-align: right;
}
/* end dialog box */

.course-category {
	font-size: 13px;
	margin-bottom: -2px;
}

.materials_button {
	margin-left: 2px;
}