#pageContent {
	font-family: sans-serif;
}

h1.section-level-1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 140%;
	display: block;
	margin-top: 20pt;
	color: #363373;
	text-align: left;
	margin-bottom: 12pt;
        /* margin-left: 30pt;
	text-indent: -30pt;*/
	border-top: 3pt solid #363373;
}

h2.section-level-2 {
	font-size: 120%;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 12pt;
	color: #363373;
	margin-bottom: 12pt;
	text-align : left;
	/* margin-left: 34pt;
	text-indent: -34pt; */
}

div.section-level-2 {
	margin-left: .12in;
}

h3.section-level-3 {
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 12pt;
	color: #363373;
	text-align: left;
	margin-bottom: 12pt;
	font-size: 105%;
	display: block;
}
div.section-level-3 {
	margin-left: .15in;
}


h4.section-level-4 {
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 3pt;
	color: #363373;
	text-align: left;
	margin-bottom: 3pt;
	font-size: 100%;
	/* text-decoration: underline; */
}
div.section-level-4 {
	margin-left: .17in;
}

h5.section-level-5 {
	font-family: sans-serif;
	font-weight: bold;
	display: block;
	color: #363373;
	text-align: left;
	font-size: 95%;
}

div.section-level-5 {
	margin-left: .19in;
}

ol {
  margin-bottom: 4pt;
  margin-top: 4pt;
  text-align: left;
  list-style-type: decimal;
}

ol ol {
  list-style-type: upper-alpha;
  margin-top: 4pt;
  margin-bottom: 8pt;
}

ol ol ol {
  list-style-type: lower-roman;
  margin-top: 4pt;
  margin-bottom: 8pt;
}

ol ol ol {
  list-style-type: lower-roman;
  margin-top: 4pt;
  margin-bottom: 8pt;
}

ol ol ol ol {
  list-style-type: lower-alpha;
  margin-top: 4pt;
  margin-bottom: 8pt;
}

ol ol ol ol ol {
  list-style-type: decimal;
  margin-top: 4pt;
  margin-bottom: 8pt;
}

ol ol ol ol ol ol {
  list-style-type: upper-alpha;
  margin-top: 4pt;
  margin-bottom: 8pt;
}

ol ol ol ol ol ol ol {
  list-style-type: lower-roman;
  margin-top: 6pt;
  margin-bottom: 8pt;
}

ol ol ol ol ol ol ol ol {
  list-style-type: lower-alpha;
  margin-top: 6pt;
  margin-bottom: 8pt;
}

ul {
  margin-bottom: 8pt;
  margin-top: 4pt;
  text-align: left;
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
  margin-bottom: 8pt;
  margin-top: 4pt;
}

ul ul ul {
  list-style-type: square;
  margin-top: 4pt;
  margin-bottom: 8pt;
}

li{
  margin-top: 5pt;
  margin-bottom: 6pt;
}

dl {
  text-align: left;
  display: block;
  margin-left: 30pt;
}

div.section-level-2 dl {
	margin-left: 40pt;
}

div.section-level-3 dl {
	margin-left: 45pt;
}

div.section-level-4 dl {
	margin-left: 50pt;
}

div.section-level-5 dl {
	margin-left: 58pt;
}

dt {
  display: list-item;
  font-weight: bold;
  margin-top: 6pt;
  text-align: left;
}

dd {
  display: list-item;
  text-align: left;
}

p {
  font-family: sans-serif;
  display: block;
  margin-top: 13pt;
  margin-bottom: 13pt;
  text-align: left;
}

/*
Notes for the future:  The first XML documents were created w/XMetal.
XMetal generated parsed character data for each table cell.  XMetal was depricated
and replaced by DOCtoXML which converts TUSK.dot template  based Word
documents to XML.  However Word treats each table cell as a paragraph and 
DOCtoXML generates a paragraph tag for each table cell.  These  2 definitions
below normalize the formatting of a Word generated table cell to one generated by XMetal.
*/

td.head p, td.data p {
  font-family: sans-serif;
  text-align: inherit;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

span.emph {
  font-style: italic;
}

span.foreign {
  font-style: italic;
  font-weight: bold;
  color:#ff8429;
}

span.species {
  font-style: italic;
  color:#d63194;
}

span.media {
  font-style: italic;
  font-weight: bold;
}

span.warning {
  font-weight: bold;
  color: #ff0000;
}

span.strong {
  font-weight: bold;
}

.hsdb-cite-include {
  font-size: small;
  display: block;
  text-align: justify;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}

.block-quote {
  font-size: small;
  display: block;
  text-align: left;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}

block-quote para {
  font-family: sans-serif;
  font-size: small;
  display: block;
  text-align: left;
}

span.sub {
  font-size: small;
  vertical-align: sub;
  display: inline;
}

span.super {
  font-size: small;
  vertical-align: super;
  display: inline;
}

sub {
  font-size: small;
  vertical-align: sub;
  display: inline;
  text-align: left;
}

sup {
  font-size: x-small;
  vertical-align: super;
  text-align: left;
  display: inline;
}

span.nugget {
  background-color: #ffff00;
  font-weight: bold;
}

span.topic-sentence {
  background-color: #00cc00;
  font-weight: bold;
}

span.keyword {
  background-color: #CCCCfe;
  font-weight: bold;
}

span.umls-concept {
  background-color: #ccccff;
  font-weight: bold;
}

span.objective-item {
  background-color: #ff6666;
  font-weight: bold;
}

span.summary {
  background-color: #33ccff;
  font-weight: bold;
}

div.caption {
  margin-top: 3pt;
  margin-bottom: 3pt;
  font-size: small;
  font-family: sans-serif;
}

span.unicode {
  font-family: "Lucida Sans Unicode";
}

span.unicodetimes {
  font-family: "Times New Roman";
}

td.head {
  font-size: 120%;
  background-color: #CCCCFF;
}

div.hscml_key {
	margin-left:	32pt;
	font-size: 75%;
}

div.hsdb-graphic-inline {
	display: inline;
}

p.para-inline {
	display: inline;
}

span.conversion-note {
  font-weight: bold;
  font-size: 80%;
  color: #ff3118;
}

span.conversion-exception {
  font-weight: bold;
  font-size: 80%;
  color: #ff3118;
}

@media print
{
	.pagebreak{
        	page-break-after: always;
	}
}