/* The style sheet for document browsing. */
BODY {
	font-family:	"times new roman", times, serif;
	background:	white;
	foreground:	black;
	text-align:	left;
	margin-right:	1%;
	margin-left:	1%;
}

PRE {
	font-family:	courier, monospace;
	text-decoration:none;
	text-align:	left;
}

PRE.calendar {
	text-align:	center;
	font-size:	75%;
}

P {
	font-size:	75%;
	margin-bottom:	0pt;
	margin-top:	0pt;
}

P.first {
	font-size:	75%;
	margin-bottom:	0pt;
	margin-top:	5pt;
}

P.second {
	font-size:	75%;
	margin-bottom:	0pt;
	margin-top:	1pt;
}

.navigate {
	font-family:	sans-serif;
	margin-top:	0pt;
	font-size:	75%;
}

.wide {
	width:		100%;
}

.userbox {
	font-family:	sans-serif;
}

TABLE.userbox {
	width:		100%;
	align:		center;
}

TD.userbox {
}

DIV.userbox {
	font-size: 	75%;
	margin-top:	0pt;
}

FORM.userbox {
	margin-top:	0pt;
	margin-bottom:	0pt;
}

DIV.userbox-head {
	font-family:	sans-serif;
	font-size:	75%;
	font-weight:	bold;
}

DIV.hinttext {
	font-family:	sans-serif;
	font-size:	65%;
	font-style:	italic;
}

.title {
	font-family:	sans-serif;
	color:		#333399;
	font-weight:	bold;
	text-align:	left;
}

.error {
	color:		rgb(153, 0, 0);
	font-family:	sans-serif;
	font-weight:	bold;
}

H2.title {
	font-size:	150%;
	text-align:	left;
	margin-bottom:	0pt;
}

H3.title {
	font-size:	125%;
	margin-bottom:	0pt;
}

H4.title {
	margin-bottom:	0pt;
}

.summary {
	font-style:	italic;
	margin-left: 	+5%;
	margin-top:	10pt;
	margin-right: 	+5%;
}

.auxlinks {
	font-size:	65%;
	font-family:	sans-serif;
	margin-bottom:	6pt;
	text-align:	left;
}

.footer {
	font-size:	75%;
	font-family:	sans-serif;
}

.docinfo {
	font-size:	75%;
	font-family:	sans-serif;
	margin-bottom:	6pt;
	margin-top:	6pt;
}

.grouplist {
	font-size:	75%;
	font-family:	serif;
}

.groupinfo {
	font-size:	83%;
	font-family:	sans-serif;
}

H4.tulogo {
	font-family: 	serif;
	font-size:	20pt;
	color:		rgb(153, 0, 0);
	font-style:	italic;
	font-weight: 	bold;	
}

.image {
	text-align:	center;
}

a.arrow {
	font-weight:	bold;
	font-size:	80%;
	text-decoration:none;
}

a.navlink {
	font-size:	80%;
	text-decoration:none;
}

a.navlinkbold {
	font-weight:	bold;
	font-size:	85%;
	text-decoration:none;
}
</style>








