.reportdiv,
.datatable fieldset {
	visibility: hidden;
}

.datatable fieldset {
	border: none;
	margin: 0;
	padding: 1em 0 0.5em 0;
	overflow: hidden;
}

.datatable fieldset label,
.datatable fieldset select,
.datatable fieldset input {
	display: block;
	float: left;
	margin-right: 10px;
}

.datatable fieldset label,
.datatable fieldset input {
	margin-top: 2px;
}
