.tablediv fieldset {
	border: none;
	margin: 0;
	padding: 1em 0 0.5em 0;
	overflow: hidden;
}

.tablediv fieldset label,
.tablediv fieldset select,
.tablediv fieldset input {
	display: block;
	float: left;
	margin-right: 10px;
}

.tablediv fieldset label,
.tablediv fieldset input {
	margin-top: 2px;
}
