.tablediv {
	padding-top: 1em;
}

.tablediv .scrollableFixedHeaderTable tr td .outer {
	display: block;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	height: 20px;
	line-height: 20px;
	text-align: left;
}

.tablediv .sfhtData .scrollableFixedHeaderTable tr td .outer {
	overflow: hidden;
}

.tablediv .sfhtData .scrollableFixedHeaderTable tr td .checkbox {
	display: block;
	text-align: center;
}