/* The default HSDB4 style sheet */
BODY {
	font-family:	"times new roman", times, serif;
	background:	white;
	foreground:	black;
	text-align:	justify;
	margin-right:	5%;
	margin-left:	5%;
}

PRE {
	font-family:	courier, monospace;
	text-decoration:none;
	text-align:	left;
}

PRE.calendar {
	margin-left:	+15%;
	font-size:	75%;
}

.navigate {
	font-family:	sans-serif;
	margin-top:	0pt;
	font-size:	small;
}

.wide {
	width:		100%;
}

.userbox {
	font-family:	sans-serif;
}

TABLE.userbox {
}

TD.userbox {
}

DIV.userbox {
	font-size: 	smaller;
	margin-top:	0pt;
	text-indent:	1em;
}

FORM.userbox {
	margin-top:	0pt;
	margin-bottom:	0pt;
}

DIV.userbox-head {
	font-family:	sans-serif;
	font-size:	small;
	font-weight:	bold;
	text-indent:	0pt;
	margin-bottom:	3pt;
}

.title {
	font-family:	sans-serif;
	color:		#333399;
	font-weight:	bold;
	text-align:	left;
}

.error {
	color:		rgb(153, 0, 0);
	font-family:	sans-serif;
	font-weight:	bold;
}

H2.title {
	font-size:	200%;
	text-align:	right;
}

H3.title {
	font-size:	125%;
	margin-bottom:	0pt;
}

.summary {
	font-style:	italic;
	margin-left: 	+5%;
	margin-top:	10pt;
	margin-right: 	+5%;
}

.auxlinks {
	font-size:	small;
	font-family:	sans-serif;
	margin-bottom:	6pt;
	margin-top:	6pt;
	text-align:	right;
}

.footer {
	font-size:	small;
	font-family:	sans-serif;
}

.docinfo {
	font-family:	sans-serif;
	margin-bottom:	6pt;
	margin-top:	6pt;
}

H4.tulogo {
	font-family: 	serif;
	font-size:	20pt;
	color:		rgb(153, 0, 0);
	font-style:	italic;
	font-weight: 	bold;	
}
</style>
