@import url("/style/style.css");

body {
	margin: 0px;
	padding: 0px;
}

/* Table short short cell for the really small columns */
table.tbl .sshr {
	text-align: center;
	width: 4%;
	white-space: nowrap;
}

/* overriding some of the default styles */
table.tbl .shr {
	width: 13%;
	white-space: nowrap;
}

/* Avatar image */
img.ava {
	max-width: 100px;
	max-height: 100px;
}

div.pst img.ava {
	margin-right: 5px;
	float: left;
}

form.bjp {
	margin-right:10px;
	padding-bottom:15px;
}

textarea {
	background-color: white;
}

a.table_heading{
	text-decoration: underline;
}
a.table_heading:hover{
	text-decoration: underline;
	color:red;
}

.frm .hcl b {
	text-transform: uppercase;
}

.pst .hcl .htt {
	font-weight: normal;
}