
/* Use Times New Roman for default font */
$DOCUMENT {
  font-family: "Times New Roman";
  font-size: 12pt;
  margin-top: 5px;
  margin-left: 5px;
  line-height: 18pt;
  margin-bottom: 16pt;
  padding-top: 8pt;
  padding-left: 8pt;
  text-align: left;
}

$COMMENT {
  display: block;
  color: purple;
  white-space: pre;
  font-family: sans-serif;
  text-align: left;
}

$PROCINS {
  color: black;
  background-color: #c0c0c0;
  text-align: left;
}

section-level-1>section-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: xx-large;
  display: block;
  border-top: medium;
  color: #6699CC;
  text-align: left;
  margin-bottom: 8pt;
}

section-level-2>section-title {
  font-size: x-large;
  display: block;
  font-family: serif;
  font-weight: normal;
  font-size: x-large;
  display: block;
  border-top: medium;
  color: #6699CC;
  margin-bottom: 8pt;
}

section-level-3>section-title {
  font-family: serif;
  font-weight: bold;
  display: block;
  border-top: medium;
  color: #6699CC;
  text-align: left;
  margin-bottom: 8pt;
  font-size: large;
  display: block;
}

section-level-4>section-title {
  font-family: serif;
  font-weight: bold;
  display: block;
  border-top: medium;
  color: #6699CC;
  text-align: left;
  margin-bottom: 8pt;
  font-size: large;
  display: block;
}

section-level-5>section-title {
  font-family: serif;
  font-weight: bold;
  display: block;
  border-top: medium;
  color: #6699CC;
  text-align: left;
  margin-bottom: 8pt;
  font-size: large;
  display: block;
}

assigner, author, body, caption, chapter, chapter-abstract, chapter-title, colgroup, content, copyright, course-ref, creation-date, definition-data, definition-list, definition-term, enumerated-list, equation, figure, header, holder, itemized-list, list-item, list-title, mime-type, modified-date, modified-history, modified-note, modifier, para, section-level-1, section-level-2, section-level-3, section-level-4, section-level-5, section-level-6, section-title, status, status-date, status-history, status-note, table, tbody, td, tfoot, th, thead, title, tr, years {
  display: block;
}

section-level-1 {
  	counter-increment: section1;
  	counter-reset: section2;
	display: block;
	background-color: #eeffee;
	margin-bottom: 12pt;
	padding-left: 6pt;
	padding-bottom: 6pt;
}

body[levelstyle="naked"] section-level-1>section-title:before {
  	content: "";
}

body[levelstyle="numbered"] section-level-1>section-title:before {
  	content: counter(section1) ". ";
}

body[levelstyle="outline"] section-level-1>section-title:before {
  	content: counter(section1,upper-roman) ". ";
}

body section-level-1>section-title:before {
  	content: counter(section1) ". ";
}

section-level-2 {
  	counter-increment: section2;
  	counter-reset: section3;
	background-color: #ffeeee;
	margin-left: 12pt;
	margin-bottom: 12pt;
	padding-left: 6pt;
	padding-bottom: 6pt;
}

body[levelstyle="naked"] section-level-2>section-title:before {
  	content: "";
}

body[levelstyle="numbered"] section-level-2>section-title:before {
  	content: counter(section1) "." counter(section2) ". ";
}

body[levelstyle="outline"] section-level-2>section-title:before {
  	content: counter(section2,upper-alpha) ". ";
}

body section-level-2>section-title:before {
  	content: counter(section1) "." counter(section2) ". ";
}

section-level-3 {
  	counter-increment: section3;
  	counter-reset: section4;
	background-color: #eeffff;
	margin-left: 12pt;
	margin-bottom: 12pt;
	padding-left: 6pt;
	padding-bottom: 6pt;
}

body[levelstyle="naked"] section-level-3>section-title:before {
  	content: "";
}

body[levelstyle="numbered"] section-level-3>section-title:before {
  	content: counter(section1) "." counter(section2) "." counter(section3) ". ";
}

body[levelstyle="outline"] section-level-3>section-title:before {
  	content: counter(section3,decimal) ". ";
}

body section-level-3>section-title:before {
  	content: counter(section1) "." counter(section2) "." counter(section3) ". ";
}

section-level-4 {
  	counter-increment: section4;
  	counter-reset: section5;
	background-color: #ffeeff;
	margin-left: 12pt;	
	margin-bottom: 12pt;
	padding-left: 6pt;
	padding-bottom: 6pt;
}

body[levelstyle="naked"] section-level-4>section-title:before {
  	content: "";
}

body[levelstyle="numbered"] section-level-4>section-title:before {
  	content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) ". ";
}

body[levelstyle="outline"] section-level-4>section-title:before {
  	content: counter(section4,lower-alpha) ". ";
}

body section-level-4>section-title:before {
  	content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) ". ";
}

section-level-5 {
  	counter-increment: section5;
	background-color: #ffffee;
	margin-left: 12pt;
	margin-bottom: 12pt;
	padding-left: 6pt;
	padding-bottom: 6pt;
}

body[levelstyle="naked"] section-level-5>section-title:before {
  	content: "";
}

body[levelstyle="numbered"] section-level-5>section-title:before {
  	content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) "." counter(section5) ". ";
}

body[levelstyle="outline"] section-level-5>section-title:before {
  	content: counter(section5,lower-roman) ". ";
}

body section-level-5>section-title:before {
  	content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) "." counter(section5) ". ";
}

list-title {
  font-weight: bold;
  display: block;
  text-align: left;
}

enumerated-list {
  text-indent: .25in;
  display: block;
  list-style-type: decimal;
  margin-bottom: 10pt;
  margin-top: 5pt;
  text-align: left;
}

list-item {
  margin-left: 25pt;
  display: list-item;
  text-align: left;
}

enumerated-list enumerated-list {
  text-indent: .25in;
  margin-bottom: 10pt;
  margin-top: 5pt;
  text-align: left;
  display: block;
  list-style-type: upper-alpha;
}

enumerated-list enumerated-list list-item {
  margin-left: 30pt;
  display: list-item;
  text-align: left;
}

enumerated-list enumerated-list enumerated-list {
  text-indent: .25in;
  margin-bottom: 10pt;
  margin-top: 5pt;
  text-align: left;
  display: block;
  list-style-type: lower-alpha;
}

enumerated-list enumerated-list enumerated-list list-item {
  margin-left: 35pt;
  display: list-item;
  text-align: left;
}

itemized-list {
  text-indent: .25in;
  display: block;
  list-style-type: disc;
  margin-bottom: 10pt;
  margin-top: 5pt;
  text-align: left;
}

itemized-list itemized-list {
  text-indent: .25in;
  display: block;
  list-style-type: circle;
  margin-bottom: 10pt;
  margin-top: 5pt;
  text-align: left;
}

itemized-list itemized-list list-item {
  margin-left: 30pt;
  display: list-item;
  text-align: left;
}

itemized-list itemized-list itemized-list {
  text-indent: .25in;
  display: block;
  list-style-type: square;
  margin-bottom: 10pt;
  margin-top: 5pt;
  text-align: left;
}

itemized-list itemized-list itemized-list list-item {
  margin-left: 35pt;
  display: list-item;
  text-align: left;
}

definition-list {
  margin-left: 10pt;
  text-align: left;
  display: block;
}

definition-term {
  display: list-item;
  font-weight: bold;
  color: 408080;
  margin-top: 10pt;
  padding-top: 8pt;
  padding-left: 8pt;
  text-align: left;
}

definition-data {
  margin-left: 25pt;
  padding-top: 8pt;
  padding-left: 8pt;
  display: list-item;
  text-align: left;
}

para {
  font-size: medium;
  display: block;
  margin-top: 4pt;
  margin-bottom: 4pt;
  text-align: left;
}

emph {
  font-style: italic;
}

foreign {
  font-style: italic;
}

species {
  font-style: italic;
}

media {
  font-style: italic;
}

warning {
  font-weight: bold;
  color: #ff0000;
}

strong {
  font-weight: bold;
}

foreign {
  font-style: italic;
}

hsdb-cite-include {
  font-size: small;
  display: block;
  text-align: justify;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}

block-quote {
  font-size: small;
  display: block;
  text-align: justify;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}

block-quote>para {
  font-size: small;
  display: block;
  text-align: justify;
}

sub {
  vertical-align: sub;
  font-size: x-small;
  text-align: left;
}

super {
  font-size: x-small;
  vertical-align: super;
  text-align: left;
}

nugget {
  background-color: #ffff00;
}

topic-sentence {
  background-color: #00cc00;
}

keyword {
  background-color: #ccccff;
}

umls-concept {
  background-color: #ccccff;
}

objective-item {
  background-color: #ff6666;
}

summary {
  background-color: #33ccff;
}

itemized-list>list-item {
  display: list-item;
  text-indent: .25in;
}

itemized-list>list-item>itemized-list {
  display: block;
  list-style-type: circle;
}

itemized-list>list-item>itemized-list>list-item {
  display: list-item;
  text-indent: .75in;
}

itemized-list>list-item>itemized-list>list-title {
  text-indent: .5in;
}

table[align="center"] {
  text-align: center;
}

table[align="right"] {
  text-align: right;
}

table {
  margin-top: 12pt;
  margin-bottom: 12pt;
}

figure[align="center"] {
  text-align: center;
}

figure[align="right"] {
  text-align: right;
}

equation[align="center"] {
  text-align: center;
}

equation[align="right"] {
  text-align: right;
}

hsdb-graphic[align="center"] {
  text-align: center;
}

web-graphic[align="center"] {
  text-align: center;
}

hsdb-graphic[align="right"] {
  text-align: right;
}

web-graphic[align="right"] {
  text-align: right;
}

tr {
  display: table-row;
}

td {
  display: table-cell;
}

span.unicode {
  font-family: "Lucida Sans Unicode";
}

span.unicodetimes {
  font-family: "Times New Roman";
}

content:before {
  content: "Document Id : " attr(content-id);
}

biblio-entry {
  display: block;
}

bibliography {
  display: block;
}
