/*/*/
#googlesearch.results ol {
	border-bottom: 1px solid #b6ac83;
	margin: 0 20px 20px 0;
	padding: 0 0 20px 20px;
	}
#googlesearch #content p.caption {
	margin: 0 20px 20px 0;
	}
#googlesearch.results ol li {
	padding: 0;
	margin: 15px 0;
	}
#googlesearch.results ol li h3 {
	font-size: 1.2em;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	margin: 0 0 5px 0;
	}
#googlesearch.results li.indent {
	margin-left: 20px;
	}
#googlesearch p {
	line-height: 1.2em;
	}
#googlesearch p.more {
	background: url(/img/list_image.gif) center left no-repeat;
	padding: 0 0 0 13px;
	margin: 0;
	}

#googlesearch.advanced dt, #googlesearch #imageAndNavigation dt {
	float: left;
	clear: left;
	text-align: right;
	padding-top: 3px;
	}
/* !ns4 */
#googlesearch.advanced dt {
	color: #000;
/*/*/
	width: 180px;
/* !ns4 */
	}
/*/*/
#googlesearch.advanced dd {
	padding: 0 0 5px 0px;
	margin: 0 0 5px 190px;
	}
#googlesearch #navigation ul li, #sup ul li {
	margin-left: 50px;
	}
#googlesearch #imageAndNavigation dl, #sup dl {
	margin: 0;
	padding: 10px 0 2px 0;
	}
#googlesearch #imageAndNavigation dl {
	background: #f6ecc4;
	}
#googlesearch #imageAndNavigation dt, #sup dt {
	width: 50px;
	font-weight: normal;
	}
#googlesearch #imageAndNavigation dd, #sup dd {
	margin: 0 0 10px 60px;
	}
#googlesearch #imageAndNavigation dd.opt, #sup dd.opt {
	margin-bottom: 2px;
	}
/* !ns4 */
#googlesearch #content p.stopwords {
	text-align: left;
	}
.z {
	display: none;
	}
#googlesearch.advanced dd input, #googlesearch.results #content input {
	padding-left: 2px;
	}
#googlenav {
	font-size: 1.2em;
	margin: 10px 0 20px 0;
	}
#googlenav a, #googlenav span.i {
	margin: 0 1em 0 0;
	}
	
/* \*/
* html #googlesearch.results dl dt {
	font-weight: bold;
	}
/* !ie5/mac */